@import 'tailwindcss';

:root{
  --body: #EAF6FF;
  --primary:#FFFFFF;
  --secondary:#41AFFE;
  --text:#0A0A0A;
  --dark:#8B8A8A;  
  --backdrop: rgba(0, 0, 0, 0.5);
}

@theme{
  --color-body: var(--body);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-dark: var(--dark);
  --color-backdrop: var(--backdrop);
} 

.body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container-1{
  @apply max-w-7xl mx-auto px-4;
}

.link-nav{
  @apply text-text text-xl font-semibold hover:bg-secondary py-3 hover:text-primary rounded-md transition-all duration-300;
}

.service-card{
  @apply bg-primary shadow-[0_4px_20px_rgba(0,0,0,0.2)] rounded-2xl pt-10 pb-15 px-5 hover:-translate-y-2 duration-300 ease-out;
}

.service-icon{
 @apply bg-secondary py-3 px-4 text-2xl font-semibold text-primary rounded-4xl w-fit;
}

.about-us-card{
  @apply bg-body rounded-2xl pt-10 pb-15 px-5;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}